.poke-card {
  --size: 200px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1.5rem;
  background-color: #1a1a1a;
  transition: box-shadow 0.3s ease-in-out;
}

.poke-card:hover {
  cursor: pointer;
}

.poke-card:nth-child(1):hover,
.poke-card:nth-child(1):focus-visible {
  box-shadow: 0 8px 32px -8px rgba(46, 204, 113, 0.6),
    0 16px 64px -16px rgba(39, 174, 96, 0.4),
    0 24px 96px -24px rgba(26, 188, 156, 0.3);
}

.poke-card:nth-child(2):hover,
.poke-card:nth-child(2):focus-visible {
  box-shadow: 0 8px 32px -8px rgba(231, 76, 60, 0.6),
    0 16px 64px -16px rgba(192, 57, 43, 0.4),
    0 24px 96px -24px rgba(241, 148, 138, 0.3);
}

.poke-card:nth-child(3):hover,
.poke-card:nth-child(3):focus-visible {
  box-shadow: 0 8px 32px -8px rgba(52, 152, 219, 0.6),
    0 16px 64px -16px rgba(41, 128, 185, 0.4),
    0 24px 96px -24px rgba(116, 185, 255, 0.3);
}

.poke-card:last-child:hover,
.poke-card:last-child:focus-visible {
  box-shadow: 0 8px 32px -8px rgba(241, 196, 15, 0.6),
    0 16px 64px -16px rgba(230, 126, 34, 0.4),
    0 24px 96px -24px rgba(255, 235, 59, 0.3);
}

.poke-card img {
  inline-size: var(--size);
  block-size: var(--size);
}

.poke-card p {
  margin-block-end: -2rem;
  display: block;
  text-transform: capitalize;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  inline-size: 100%;
  block-size: 50px;
  background-color: black;
  display: grid;
  place-items: center;
  border-radius: 1rem;
}

.parallax-effect-glare-scale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transform-style: preserve-3d;
}

.inner-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-style: italic;
  color: white;
  transform: translateZ(60px);
}
